<h1>Dishes</h1>

<div class="dishes-wrapper row .col-xs-6 .col-sm-4">
  <% @dishes.each do |dish| %>
    <div class="dish">
      <div class="dish-head">
        <div class="name .col-xs-6 .col-sm-4">
          <%= dish.name %>
        </div>
      </div>
      <div class="image center-block">
        <%= link_to (image_tag dish.image.url(:medium), class:'img-responsive'), dish_path(dish) %>
      </div>
      <p class="description .col-xs-6 .col-sm-4">
        <%= dish.description %>
      </p>
    </div>
  <% end %>
</div>

